/* fonts family */

@font-face {
    font-family: tradeGothic;
    src: url("../fonts/TradeGothicforNike365-BdCn-2/TradeGothicforNike365-BdCn.eot");
    src: url("../fonts/TradeGothicforNike365-BdCn-2/TradeGothicforNike365-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/TradeGothicforNike365-BdCn-2/TradeGothicforNike365-BdCn.woff") format("woff"), url("../fonts/TradeGothicforNike365-BdCn-2/TradeGothicforNike365-BdCn.ttf") format("truetype"), url("../fonts/TradeGothicforNike365-BdCn-2/TradeGothicforNike365-BdCn.svg#tradeGothic") format("svg");
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: tradeGothic;
        src: url("../fonts/TradeGothicforNike365-BdCn-2/TradeGothicforNike365-BdCn.svg#tradeGothic") format("svg");
    }
}

@font-face {
    font-family: futuraND;
    src: url("../fonts/FuturaNDforNike365Cn-XBd/FuturaNDforNike365Cn-XBd.eot");
    src: url("../fonts/FuturaNDforNike365Cn-XBd/FuturaNDforNike365Cn-XBd.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNDforNike365Cn-XBd/FuturaNDforNike365Cn-XBd.woff") format("woff"), url("../fonts/FuturaNDforNike365Cn-XBd/FuturaNDforNike365Cn-XBd.ttf") format("truetype"), url("../fonts/FuturaNDforNike365Cn-XBd/FuturaNDforNike365Cn-XBd.svg#futuraND") format("svg");
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: futuraND;
        src: url("../fonts/FuturaNDforNike365Cn-XBd/FuturaNDforNike365Cn-XBd.svg#futuraND") format("svg");
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "futuraND";
}

.fluid {
    width: 100%;
    display: block;
}

.dis-tab {
    display: table;
    height: 100%;
    width: 100%;
}

.dis-tc {
    display: table-cell;
    vertical-align: middle;
}

.pos-abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-container {
    z-index: 2;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.section-title {
    font-size: 94px;
    color: #fff;
    line-height: 1;
    text-shadow: 6px 6px 0px #ed783f;
}

.carousel-active .carousel-container {
    z-index: 100;
}

.complete-img-container {
    z-index: 4;
}

.complete-img {
    position: relative;
    z-index: 3;
}

.content-preloader {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: 1000;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.content-preloader-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 60px;
}

.loaded .content-preloader {
    opacity: 0;
    visibility: hidden;
}

.tout-copy {
    color: #ed783f;
    font-size: 21px;
    text-align: center;
    background-color: #fff;
    padding: 20px 10px;
    line-height: 1.2;
    font-family: "tradeGothic";
    margin-top: 10px;
}

.site-btn {
    display: inline-block;
    padding: 18px;
    padding-bottom: 10px;
    line-height: 29px;
    font-size: 29px;
    color: #ed783f;
    background-color: #fff;
    margin-top: 15px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.tout-wrap {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.instructions-copy-wrap {
    width: 100%;
    max-width: 413px;
    margin: 0 auto;
    text-align: center;
}

.init .complete-img {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}

.tutorial-on .tutorial-section {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.tutorial-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.tutorial-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.tutorial-carousel {
    position: relative;
    width: 100%;
    float: left;
}

.tutorial-carousel:last-child .tutorial-carousel-list:after {
    display: none;
}

.tutorial-carousel-list {
    width: 200%;
    position: relative;
    float: left;
}

.tutorial-carousel-list:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    width: 100%;
    left: 0;
}

.tutorial-carousel-list .carousel-item {
    width: 50%;
    float: left;
}

#swipeRight {
    transform: translateX(-50%);
}

.swipe-hands {
    position: absolute;
    top: 10%;
    width: 50px;
    height: 40px;
    display: inline-block;
    background-image: url(../images/swipe-sprite.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: -55px 0;
}

.swipe-hands.swipe-left {
    background-position: 0 0;
}

.swipe-hands.swipe-right {
    background-position: -107px 0;
}

#close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    z-index: 100;
}

#close-btn:before,
#close-btn:after {
    content: "";
    display: block;
    width: 16px;
    top: 50%;
    border-top: 2px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    position: absolute;
}

#close-btn:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#close-btn:after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.instruction-copy {
    font-size: 22px;
    color: #ed783f;
    background-color: #fff;
    padding: 10px;
    text-transform: uppercase;
    margin-bottom: 3px;
    line-height: 1;
    padding-bottom: 5px;
}

.carousel {
    position: relative;
}

.carousel:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #fff;
    width: 100%;
    left: 0;
}

.carousel:last-child:before {
    display: none;
}

.carousel-arrow {
    max-width: 32px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel-arrow.prev-btn {
    left: 20px;
}

.carousel-arrow.next-btn {
    right: 20px;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.mobile-content-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-width: 767px;
    margin: 0 auto;
}

.mobile-content-wrap .left-content,
.mobile-content-wrap .right-content {
    width: 100%;
}

.mobile-content-wrap .right-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.mobile-content-wrap .tout-copy {
    color: #fff;
    background-color: transparent;
}

.mobile-content-wrap #close-btn {
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
}

.mobile-content-wrap .shop-look-section {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    text-align: center;
    z-index: 1000;
}

.mobile-content-wrap .shop-look-section:before {
    content: "";
    position: absolute;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    width: 100%;
    height: 100%;
}

.inner-content {
    position: relative;
}

.show-shop-section .shop-look-section {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.show-shop {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    z-index: 100;
}

.show-shop:before {
    content: "";
    display: block;
    width: 12px;
    top: 50%;
    height: 12px;
    border-top: 2px solid #ed783f;
    border-left: 2px solid #ed783f;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    margin-top: -3px;
    position: absolute;
}

.show-shop:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media only screen and (max-width: 680px) {
    .section-title {
        font-size: 84px;
    }
}

@media only screen and (max-width: 680px) {
    .instruction-copy {
        font-size: 20px;
    }
}

@media only screen and (max-width: 680px) {
    .instructions-copy-wrap {
        padding: 0 5px;
    }
}


/*#shopCanvas {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/


/*# sourceMappingURL=mobile.css.map */